In [2]:
import pandas as pd
import sqlite3
import warnings
import pyodbc
import numpy as np
import os

warnings.simplefilter('ignore')
print(pyodbc.drivers())

['ODBC Driver 18 for SQL Server', 'ODBC Driver 17 for SQL Server']

<h3> verbinding maken met SourceDataModel, en inlezen tabellen

In [3]:
# Verbindingsgegevens
server = '127.0.0.1'        
port = '1433'               
database = 'SDMProject'         
username = 'SA'             
password = 'iDTyjZx7dRL4'  

# Connection string
connection_string = (
    f"DRIVER={{ODBC Driver 17 for SQL Server}};"
    f"SERVER={server},{port};"
    f"DATABASE={database};"
    f"UID={username};"
    f"PWD={password};"
    "TrustServerCertificate=yes;"
    "Timeout=30;"
)

# Maak verbinding met de database
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

# Haal alle tabellen op
cursor.execute("SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE'")
tables = [row.TABLE_NAME for row in cursor.fetchall()]

# Dictionary om alle dataframes op te slaan
sdm_dfs = {}

# Loop door alle tabellen en laad ze in Pandas DataFrames
for table in tables:
    query = f"SELECT * FROM [{table}]"
    df = pd.read_sql(query, conn)
    sdm_dfs[table] = df
    print(f"Tabel '{table}' ingelezen met {df.shape[0]} rijen en {df.shape[1]} kolommen.")

# Sluit de verbinding
conn.close()

# Print de kolomnamen en de eerste paar rijen van elke DataFrame
for table_name, df in sdm_dfs.items():
    print(f"\nTable: {table_name}")
    print("Columns:", df.columns.tolist())
    print(df.head())

Tabel 'HumanResources_Department' ingelezen met 21 rijen en 5 kolommen.
Tabel 'Person_Person' ingelezen met 20056 rijen en 12 kolommen.
Tabel 'HumanResources_Employee' ingelezen met 20056 rijen en 10 kolommen.
Tabel 'Person_Address' ingelezen met 19614 rijen en 7 kolommen.
Tabel 'Production_ProductCategory' ingelezen met 12 rijen en 7 kolommen.
Tabel 'Shippers' ingelezen met 3 rijen en 3 kolommen.
Tabel 'Suppliers' ingelezen met 29 rijen en 12 kolommen.
Tabel 'Production_Product' ingelezen met 591 rijen en 34 kolommen.
Tabel 'Purchasing_Vendor' ingelezen met 104 rijen en 8 kolommen.
Tabel 'Purchasing_PurchaseOrderHeader' ingelezen met 4012 rijen en 13 kolommen.
Tabel 'Purchasing_PurchaseOrderDetail' ingelezen met 8845 rijen en 12 kolommen.
Tabel 'Sales_SalesTerritory' ingelezen met 10 rijen en 11 kolommen.
Tabel 'Sales_Store' ingelezen met 701 rijen en 5 kolommen.
Tabel 'Sales_Customer' ingelezen met 20037 rijen en 10 kolommen.
Tabel 'Sales_SalesOrderHeader' ingelezen met 32945 rijen en 14 kolommen.
Tabel 'Sales_SalesOrderDetail' ingelezen met 124575 rijen en 8 kolommen.
Tabel 'Region' ingelezen met 4 rijen en 2 kolommen.
Tabel 'Territories' ingelezen met 53 rijen en 3 kolommen.
Tabel 'EmployeeTerritories' ingelezen met 49 rijen en 2 kolommen.
Tabel 'Bonus' ingelezen met 33 rijen en 3 kolommen.

Table: HumanResources_Department
Columns: ['DepartmentID', 'Name', 'GroupName', 'ModifiedDate', 'Source']
   DepartmentID         Name                 GroupName ModifiedDate  \
0             1  Engineering  Research and Development   2018-04-30
1             2  Tool Design  Research and Development   2018-04-30
2             3        Sales       Sales and Marketing   2018-04-30
3             4    Marketing       Sales and Marketing   2018-04-30
4             5   Purchasing      Inventory Management   2018-04-30

           Source
0  AdventureWorks
1  AdventureWorks
2  AdventureWorks
3  AdventureWorks
4  AdventureWorks

Table: Person_Person
Columns: ['MergedBusinessEntityID', 'BusinessEntityID', 'PersonType', 'NameStyle', 'Title', 'LastName', 'Suffix', 'EmailPromotion', 'rowguid', 'PhoneNumber', 'ModifiedDate', 'Source']
   MergedBusinessEntityID  BusinessEntityID PersonType NameStyle Title  \
0                       1                 1         EM         0  None
1                       2                 2         EM         0  None
2                       3                 3         EM         0  None
3                       4                 4         EM         0  None
4                       5                 5         EM         0   Ms.

     LastName Suffix EmailPromotion                                rowguid  \
0    SÃ¡nchez   None              0  {92C4279F-1207-48A3-84484636514EB7E2}
1       Duffy   None              1  {D8763459-8AA8-47CC-AFF7C9079AF79033}
2  Tamburello   None              0  {E1A2555E-0828-434B-A33B6F38136A37DE}
3     Walters   None              0  {F2D7CE06-38B3-4357-805BF4B6B71C01FF}
4    Erickson   None              0  {F3A3F6B4-AE3B-430C-A7549F2231BA6FEF}

  PhoneNumber ModifiedDate          Source
0        None   2019-01-07  AdventureWorks
1        None   2018-01-24  AdventureWorks
2        None   2017-11-04  AdventureWorks
3        None   2017-11-28  AdventureWorks
4        None   2017-12-30  AdventureWorks

Table: HumanResources_Employee
Columns: ['MergedBusinessEntityID', 'BusinessEntityID', 'JobTitle', 'BirthDate', 'HireDate', 'Gender', 'Salary', 'DepartmentID', 'ManagerID', 'Source']
   MergedBusinessEntityID  BusinessEntityID                       JobTitle  \
0                       1                 1        Chief Executive Officer
1                       2                 2  Vice President of Engineering
2                       3                 3            Engineering Manager
3                       4                 4           Senior Tool Designer
4                       5                 5                Design Engineer

   BirthDate   HireDate Gender  Salary  DepartmentID  ManagerID  \
0 1979-01-29 2019-01-14      M     0.0          16.0        NaN
1 1981-08-01 2018-01-31      F     0.0           1.0        NaN
2 1984-11-12 2017-11-11      M     0.0           1.0        NaN
3 1984-12-23 2017-12-05      M     0.0           2.0        NaN
4 1962-09-27 2018-01-06      F     0.0           1.0        NaN

           Source
0  AdventureWorks
1  AdventureWorks
2  AdventureWorks
3  AdventureWorks
4  AdventureWorks

Table: Person_Address
Columns: ['AddressID', 'AddressLine1', 'AddressLine2', 'City', 'StateProvinceID', 'PostalCode', 'BusinessEntityID']
   AddressID          AddressLine1 AddressLine2     City StateProvinceID  \
0          1         1970 Napa Ct.         None  Bothell              79
1          2    9833 Mt. Dias Blv.         None  Bothell              79
2          3  7484 Roundtree Drive         None  Bothell              79
3          4      9539 Glenside Dr         None  Bothell              79
4          5         1226 Shoe St.         None  Bothell              79

  PostalCode  BusinessEntityID
0      98011                12
1      98011               123
2      98011               285
3      98011               251
4      98011               124

Table: Production_ProductCategory
Columns: ['MergedCategoryID', 'ProductCategoryID', 'Name', 'rowguid', 'Description', 'ModifiedDate', 'Source']
   MergedCategoryID  ProductCategoryID         Name  \
0                 1                  1        Bikes
1                 2                  2   Components
2                 3                  3     Clothing
3                 4                  4  Accessories
4                 5                  1    Beverages

                                 rowguid  \
0  {CFBDA25C-DF71-47A7-B81B64EE161AA37C}
1  {C657828D-D808-4ABA-91A3AF2CE02300E9}
2  {10A7C342-CA82-48D4-8A3846A2EB089B74}
3  {2BE3BE36-D9A2-4EEE-B593ED895D97C2A6}
4

                                   Description ModifiedDate          Source
0                                                2018-04-30  AdventureWorks
1                                                2018-04-30  AdventureWorks
2                                                2018-04-30  AdventureWorks
3                                                2018-04-30  AdventureWorks
4  Soft drinks, coffees, teas, beers, and ales          NaT       NorthWind

Table: Shippers
Columns: ['ShipperID', 'CompanyName', 'Phone']
   ShipperID       CompanyName           Phone
0          1    Speedy Express  (503) 555-9831
1          2    United Package  (503) 555-3199
2          3  Federal Shipping  (503) 555-9931

Table: Suppliers
Columns: ['SupplierID', 'CompanyName', 'ContactName', 'ContactTitle', 'Address', 'City', 'Region', 'PostalCode', 'Country', 'Phone', 'Fax', 'HomePage']
   SupplierID                         CompanyName                 ContactName  \
0           1                      Exotic Liquids            Charlotte Cooper
1           2          New Orleans Cajun Delights               Shelley Burke
2           3           Grandma Kelly's Homestead               Regina Murphy
3           4                       Tokyo Traders                Yoshi Nagase
4           5  Cooperativa de Quesos 'Las Cabras'  Antonio del Valle Saavedra

           ContactTitle                    Address         City    Region  \
0    Purchasing Manager             49 Gilbert St.       London      None
1   Order Administrator             P.O. Box 78934  New Orleans        LA
2  Sales Representative             707 Oxford Rd.    Ann Arbor        MI
3     Marketing Manager  9-8 Sekimai Musashino-shi        Tokyo      None
4  Export Administrator          Calle del Rosal 4       Oviedo  Asturias

  PostalCode Country           Phone             Fax     HomePage
0    EC1 4SD      UK  (171) 555-2222            None         None
1      70117     USA  (100) 555-4822            None  #CAJUN.HTM#
2      48104     USA  (313) 555-5735  (313) 555-3349         None
3        100   Japan  (03) 3555-5011            None         None
4      33007   Spain  (98) 598 76 54            None         None

Table: Production_Product
Columns: ['MergedID', 'ProductID', 'Name', 'ProductNumber', 'MakeFlag', 'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint', 'StandardCost', 'ListPrice', 'Size', 'SizeUnitMeasureCode', 'WeightUnitMeasureCode', 'Weight', 'DaysToManufacture', 'ProductLine', 'Class', 'Style', 'ProductSubcategoryID', 'ProductModelID', 'SellStartDate', 'SellEndDate', 'rowguid', 'ModifiedDate', 'ProductCategoryID', 'Source', 'Discontinued', 'QuantityPerUnit', 'quantity', 'UnitsInStock', 'UnitsOnOrder', 'description', 'SupplierID']
   MergedID  ProductID                   Name ProductNumber  MakeFlag  \
0         1          1        Adjustable Race       AR-5381       0.0
1         2          2           Bearing Ball       BA-8327       0.0
2         3          3        BB Ball Bearing       BE-2349      -1.0
3         4          4  Headset Ball Bearings       BE-2908       0.0
4         5        316                  Blade       BL-2036      -1.0

   FinishedGoodsFlag Color SafetyStockLevel ReorderPoint StandardCost  ...  \
0                0.0  None             1000          750          0.0  ...
1                0.0  None             1000          750          0.0  ...
2                0.0  None              800          600          0.0  ...
3                0.0  None              800          600          0.0  ...
4                0.0  None              800          600          0.0  ...

         ModifiedDate ProductCategoryID          Source Discontinued  \
0 2024-02-08 10:01:37               NaN  AdventureWorks         None
1 2024-02-08 10:01:37               NaN  AdventureWorks         None
2 2024-02-08 10:01:37               NaN  AdventureWorks         None
3 2024-02-08 10:01:37               NaN  AdventureWorks         None
4 2024-02-08 10:01:37               NaN  AdventureWorks         None

  QuantityPerUnit quantity UnitsInStock UnitsOnOrder description SupplierID
0            None     None         None         None        None        NaN
1            None     None         None         None        None        NaN
2            None     None         None         None        None        NaN
3            None     None         None         None        None        NaN
4            None     None         None         None        None        NaN

[5 rows x 34 columns]

Table: Purchasing_Vendor
Columns: ['BusinessEntityID', 'AccountNumber', 'Name', 'CreditRating', 'PreferredVendorStatus', 'ActiveFlag', 'PurchasingWebServiceURL', 'ModifiedDate']
   BusinessEntityID AccountNumber                     Name CreditRating  \
0              1492  AUSTRALI0001  Australia Bike Retailer            1
1              1494  ALLENSON0001          Allenson Cycles            2
2              1496  ADVANCED0001        Advanced Bicycles            1
3              1498    TRIKES0001             Trikes, Inc.            2
4              1500   MORGANB0001  Morgan Bike Accessories            1

  PreferredVendorStatus  ActiveFlag PurchasingWebServiceURL ModifiedDate
0                    -1          -1                    None   2021-12-23
1                    -1          -1                    None   2021-04-25
2                    -1          -1                    None   2021-04-25
3                    -1          -1                    None   2022-02-03
4                    -1          -1                    None   2022-02-02

Table: Purchasing_PurchaseOrderHeader
Columns: ['PurchaseOrderID', 'RevisionNumber', 'Status', 'EmployeeID', 'VendorID', 'ShipMethodID', 'OrderDate', 'ShipDate', 'SubTotal', 'TaxAmt', 'Freight', 'TotalDue', 'ModifiedDate']
   PurchaseOrderID RevisionNumber  Status  EmployeeID  VendorID  ShipMethodID  \
0                1              4       4         258      1580             3
1                2              4       1         254      1496             5
2                3              4       4         257      1494             2
3                4              4       3         261      1650             5
4                5              4       4         251      1654             4

   OrderDate   ShipDate            SubTotal              TaxAmt  \
0 2021-04-16 2021-04-25  201.03999999999999  16.083200000000001
1 2021-04-16 2021-04-25  272.10149999999999             21.7681
2 2021-04-16 2021-04-25  8847.2999999999993  707.78399999999999
3 2021-04-16 2021-04-25  171.07650000000001             13.6861
4 2021-04-30 2021-05-09  20397.299999999999  1631.7840000000001

              Freight            TotalDue ModifiedDate
0  5.0259999999999998  222.14920000000001   2021-04-25
1  6.8025000000000002            300.6721   2021-04-25
2            221.1825  9776.2664999999997   2021-04-25
3  4.2769000000000004            189.0395   2021-04-25
4            509.9325  22539.016500000002   2021-05-09

Table: Purchasing_PurchaseOrderDetail
Columns: ['PurchaseOrderID', 'PurchaseOrderDetailID', 'DueDate', 'OrderQty', 'ProductID', 'UnitPrice', 'LineTotal', 'ReceivedQty', 'RejectedQty', 'StockedQty', 'ModifiedDate', 'Source']
   PurchaseOrderID  PurchaseOrderDetailID    DueDate OrderQty  ProductID  \
0                1                      1 2021-04-30        4          1
1                2                      2 2021-04-30        3         38
2                2                      3 2021-04-30        3         39
3                3                      4 2021-04-30      550        203
4                4                      5 2021-04-30        3          4

            UnitPrice           LineTotal ReceivedQty RejectedQty StockedQty  \
0  50.259999999999998  201.03999999999999         3.0         0.0        3.0
1  45.119999999999997  135.36000000000001         3.0         0.0        3.0
2  45.580500000000001            136.7415         3.0         0.0        3.0
3  16.085999999999999  8847.2999999999993       550.0         0.0      550.0
4  57.025500000000001  171.07650000000001         2.0         1.0        1.0

  ModifiedDate          Source
0   2021-04-23  AdventureWorks
1   2021-04-23  AdventureWorks
2   2021-04-23  AdventureWorks
3   2021-04-23  AdventureWorks
4   2021-04-23  AdventureWorks

Table: Sales_SalesTerritory
Columns: ['TerritoryID', 'Name', 'CountryRegionCode', 'Group1', 'SalesYTD', 'SalesLastYear', 'CostYTD', 'CostLastYear', 'rowguid', 'ModifiedDate', 'region']
   TerritoryID       Name CountryRegionCode         Group1  \
0            1  Northwest                US  North America
1            2  Northeast                US  North America
2            3    Central                US  North America
3            4  Southwest                US  North America
4            5  Southeast                US  North America

             SalesYTD       SalesLastYear CostYTD CostLastYear  \
0  7887186.7882000003  3298694.4937999998     0.0          0.0
1        2402176.8476  3607148.9371000002     0.0          0.0
2  3072175.1179999998  3205014.0767000001     0.0          0.0
3       10510853.8739  5366575.7098000003     0.0          0.0
4  2538667.2514999998  3925071.4317999999     0.0          0.0

                                 rowguid ModifiedDate region
0  {43689A10-E30B-497F-B0DE11DE20267FF7}   2008-04-30   None
1  {00FB7309-96CC-49E2-83630A1BA72486F2}   2008-04-30   None
2  {DF6E7FD8-1A8D-468C-B103ED8ADDB452C1}   2008-04-30   None
3  {DC3E9EA0-7950-4431-942899DBCBC33865}   2008-04-30   None
4  {6DC4165A-5E4C-42D2-809D4344E0AC75E7}   2008-04-30   None

Table: Sales_Store
Columns: ['BusinessEntityID', 'Name', 'SalesPersonID', 'rowguid', 'ModifiedDate']
   BusinessEntityID                            Name  SalesPersonID  \
0               292            Next-Door Bike Store            279
1               294  Professional Sales and Service            276
2               296                  Riders Company            277
3               298              The Bike Mechanics            275
4               300               Nationwide Supply            286

                                 rowguid        ModifiedDate
0  {A22517E3-848D-4EBE-B9D97437F3432304} 2014-09-12 11:15:07
1  {B50CA50B-C601-4A13-B07E2C63862D71B4} 2014-09-12 11:15:07
2  {337C3688-1339-4E1A-A08AB54B23566E49} 2014-09-12 11:15:07
3  {7894F278-F0C8-4D16-BD75213FDBF13023} 2014-09-12 11:15:07
4  {C3FC9705-A8C4-4F3A-9550EB2FA4B7B64D} 2014-09-12 11:15:07

Table: Sales_Customer
Columns: ['MergedCustomerID', 'CustomerID', 'PersonID', 'StoreID', 'TerritoryID', 'CompanyName', 'AccountNumber', 'rowguid', 'ModifiedDate', 'Source']
   MergedCustomerID CustomerID  PersonID  StoreID  TerritoryID CompanyName  \
0                 1          1       NaN    934.0          1.0        None
1                 2          2       NaN   1028.0          1.0        None
2                 3          3       NaN    642.0          4.0        None
3                 4          4       NaN    932.0          4.0        None
4                 5          5       NaN   1026.0          4.0        None

  AccountNumber                                rowguid        ModifiedDate  \
0    AW00000001  {3F5AE95E-B87D-4AED-95B4C3797AFCB74F} 2024-09-12 11:15:07
1    AW00000002  {E552F657-A9AF-4A7D-A645C429D6E02491} 2024-09-12 11:15:07
2    AW00000003  {130774B1-DB21-4EF3-98C8C104BCD6ED6D} 2024-09-12 11:15:07
3    AW00000004  {FF862851-1DAA-4044-BE7C3E85583C054D} 2024-09-12 11:15:07
4    AW00000005  {83905BDC-6F5E-4F71-B162C98DA069F38A} 2024-09-12 11:15:07

           Source
0  AdventureWorks
1  AdventureWorks
2  AdventureWorks
3  AdventureWorks
4  AdventureWorks

Table: Sales_SalesOrderHeader
Columns: ['SalesOrderID', 'RevisionNumber', 'OrderDate', 'DueDate', 'ShipDate', 'CustomerID', 'SalesPersonID', 'TerritoryID', 'SubTotal', 'ShipVia', 'ShipCountry', 'ShipRegion', 'ShipCity', 'Source']
   SalesOrderID RevisionNumber  OrderDate DueDate ShipDate  CustomerID  \
0          2001           None 2022-03-14     NaT      NaT       19821
1          2002           None 2022-03-18     NaT      NaT       19822
2          2003           None 2022-03-21     NaT      NaT       19823
3          2004           None 2022-03-23     NaT      NaT       19824
4          2005           None 2022-03-24     NaT      NaT       19821

   SalesPersonID  TerritoryID SubTotal  ShipVia ShipCountry ShipRegion  \
0         200299          NaN     None      NaN        None    Eastern
1         200467          NaN     None      NaN        None    Eastern
2         201039          NaN     None      NaN        None    Eastern
3         200902          NaN     None      NaN        None      South
4         200856          NaN     None      NaN        None    Eastern

  ShipCity Source
0     None   AENC
1     None   AENC
2     None   AENC
3     None   AENC
4     None   AENC

Table: Sales_SalesOrderDetail
Columns: ['SalesOrderID', 'SalesOrderDetailID', 'OrderQty', 'ProductID', 'UnitPrice', 'UnitPriceDiscount', 'LineTotal', 'Source']
   SalesOrderID  SalesOrderDetailID OrderQty  ProductID UnitPrice  \
0          2001                   1       12        582         9
1          2001                   2       12        583        14
2          2001                   3       12        584        14
3          2002                   1       24        585         9
4          2002                   2       24        586        10

  UnitPriceDiscount LineTotal Source
0              None      None   AENC
1              None      None   AENC
2              None      None   AENC
3              None      None   AENC
4              None      None   AENC

Table: Region
Columns: ['RegionID', 'RegionDescription']
   RegionID                                  RegionDescription
0         1  Eastern                                       ...
1         2  Western                                       ...
2         3  Northern                                      ...
3         4  Southern                                      ...

Table: Territories
Columns: ['TerritoryID', 'TerritoryDescription', 'RegionID']

<h3> dictionary maken voor goede dataframes

In [4]:
DataWarehouse_dict = {
}

<h3> HumanRescources_department

In [5]:
df_HumanRescources_Department = sdm_dfs['HumanResources_Department'].copy()

df_HumanRescources_Department.drop(columns=['ModifiedDate'], inplace=True)

DataWarehouse_dict['HumanResources_Department'] = df_HumanRescources_Department

df_HumanRescources_Department.head()

   DepartmentID         Name                 GroupName          Source
0             1  Engineering  Research and Development  AdventureWorks
1             2  Tool Design  Research and Development  AdventureWorks
2             3        Sales       Sales and Marketing  AdventureWorks
3             4    Marketing       Sales and Marketing  AdventureWorks
4             5   Purchasing      Inventory Management  AdventureWorks

<h3> Person_Person

In [9]:
# Kopieer de SDM-tabel
df_Person_Person = sdm_dfs['Person_Person'].copy()

# Drop eerst de originele BusinessEntityID
df_Person_Person = df_Person_Person.drop(columns=["BusinessEntityID"])

# Hernoem MergedBusinessEntityID naar BusinessEntityID
df_Person_Person = df_Person_Person.rename(columns={
    "MergedBusinessEntityID": "BusinessEntityID"
})

# Selecteer alleen de kolommen die je nodig hebt
df_dwh_person = df_Person_Person[["BusinessEntityID", "Title", "LastName", "Source"]].copy()

# Truncate strings naar max lengte
df_dwh_person["Title"] = df_dwh_person["Title"].astype(str).str.slice(0, 50)
df_dwh_person["LastName"] = df_dwh_person["LastName"].astype(str).str.slice(0, 255)
df_dwh_person["Source"] = df_dwh_person["Source"].astype(str).str.slice(0, 50)

DataWarehouse_dict['Person_Person'] = df_dwh_person

# Preview
print(df_dwh_person.head())

   BusinessEntityID Title    LastName          Source
0                 1  None    SÃ¡nchez  AdventureWorks
1                 2  None       Duffy  AdventureWorks
2                 3  None  Tamburello  AdventureWorks
3                 4  None     Walters  AdventureWorks
4                 5   Ms.    Erickson  AdventureWorks

<h3> HumanResources_Employee

In [10]:
# Kopieer de SDM-tabel
df_HumanResources_Employee = sdm_dfs['HumanResources_Employee'].copy()

# Drop eerst de originele BusinessEntityID
df_HumanResources_Employee = df_HumanResources_Employee.drop(columns=["BusinessEntityID"])

# Hernoem MergedBusinessEntityID naar BusinessEntityID
df_HumanResources_Employee = df_HumanResources_Employee.rename(columns={
    "MergedBusinessEntityID": "BusinessEntityID"
})

# Selecteer alleen de kolommen die je nodig hebt
df_dwh_employee = df_HumanResources_Employee[["BusinessEntityID", "JobTitle", "Salary", "DepartmentID", "ManagerID", "Source"]].copy()

# Truncate strings naar max lengte
df_dwh_employee["JobTitle"] = df_dwh_employee["JobTitle"].astype(str).str.slice(0, 100)
df_dwh_employee["Source"] = df_dwh_employee["Source"].astype(str).str.slice(0, 50)

# Opslaan in het DataWarehouse
DataWarehouse_dict['HumanResources_Employee'] = df_dwh_employee

# Preview
print(df_dwh_employee.head())

   BusinessEntityID                       JobTitle  Salary  DepartmentID  \
0                 1        Chief Executive Officer     0.0          16.0
1                 2  Vice President of Engineering     0.0           1.0
2                 3            Engineering Manager     0.0           1.0
3                 4           Senior Tool Designer     0.0           2.0
4                 5                Design Engineer     0.0           1.0

   ManagerID          Source
0        NaN  AdventureWorks
1        NaN  AdventureWorks
2        NaN  AdventureWorks
3        NaN  AdventureWorks
4        NaN  AdventureWorks

<h3> Person_Address

In [12]:
# Kopieer de SDM-tabel
df_Person_Address = sdm_dfs['Person_Address'].copy()

# Selecteer alleen de kolommen die je nodig hebt
df_dwh_address = df_Person_Address[["AddressID", "City", "BusinessEntityID"]].copy()

# Truncate strings naar maximale lengte
df_dwh_address["City"] = df_dwh_address["City"].astype(str).str.slice(0, 100)

# Opslaan in het DataWarehouse
DataWarehouse_dict['Person_Address'] = df_dwh_address

# Preview
print(df_dwh_address.head())

   AddressID     City  BusinessEntityID
0          1  Bothell                12
1          2  Bothell               123
2          3  Bothell               285
3          4  Bothell               251
4          5  Bothell               124

<h3> Production_ProductCategory

In [13]:
# Kopieer de SDM-tabel
df_Production_ProductCategory = sdm_dfs['Production_ProductCategory'].copy()

# Drop eerst de originele ProductCategoryID
df_Production_ProductCategory = df_Production_ProductCategory.drop(columns=["ProductCategoryID"])

# Hernoem MergedCategoryID naar ProductCategoryID
df_Production_ProductCategory = df_Production_ProductCategory.rename(columns={
    "MergedCategoryID": "ProductCategoryID"
})

# Selecteer alleen de kolommen die je nodig hebt
df_dwh_product_category = df_Production_ProductCategory[["ProductCategoryID", "Name", "Source"]].copy()

# Truncate strings naar maximale lengte
df_dwh_product_category["Name"] = df_dwh_product_category["Name"].astype(str).str.slice(0, 100)
df_dwh_product_category["Source"] = df_dwh_product_category["Source"].astype(str).str.slice(0, 50)

# Opslaan in het DataWarehouse
DataWarehouse_dict['Production_ProductCategory'] = df_dwh_product_category

# Preview
print(df_dwh_product_category.head())

   ProductCategoryID         Name          Source
0                  1        Bikes  AdventureWorks
1                  2   Components  AdventureWorks
2                  3     Clothing  AdventureWorks
3                  4  Accessories  AdventureWorks
4                  5    Beverages       NorthWind

<h3> Shippers

In [15]:
# Kopieer de SDM-tabel
df_Shippers = sdm_dfs['Shippers'].copy()

# Selecteer alleen de kolommen die je nodig hebt
df_dwh_shippers = df_Shippers[["ShipperID", "CompanyName"]].copy()

# Truncate strings naar maximale lengte
df_dwh_shippers["CompanyName"] = df_dwh_shippers["CompanyName"].astype(str).str.slice(0, 100)

# Opslaan in het DataWarehouse
DataWarehouse_dict['Shippers'] = df_dwh_shippers

# Preview
print(df_dwh_shippers.head())

   ShipperID       CompanyName
0          1    Speedy Express
1          2    United Package
2          3  Federal Shipping

<h3> Suppliers

In [16]:
# Kopieer de SDM-tabel
df_Suppliers = sdm_dfs['Suppliers'].copy()

# Selecteer alleen de kolommen die je nodig hebt
df_dwh_suppliers = df_Suppliers[["SupplierID", "CompanyName", "City", "Country", "Region"]].copy()

# Truncate strings naar maximale lengte
df_dwh_suppliers["CompanyName"] = df_dwh_suppliers["CompanyName"].astype(str).str.slice(0, 100)
df_dwh_suppliers["City"] = df_dwh_suppliers["City"].astype(str).str.slice(0, 100)
df_dwh_suppliers["Country"] = df_dwh_suppliers["Country"].astype(str).str.slice(0, 100)
df_dwh_suppliers["Region"] = df_dwh_suppliers["Region"].astype(str).str.slice(0, 100)

# Opslaan in het DataWarehouse
DataWarehouse_dict['Suppliers'] = df_dwh_suppliers

# Preview
print(df_dwh_suppliers.head())

   SupplierID                         CompanyName         City Country  \
0           1                      Exotic Liquids       London      UK
1           2          New Orleans Cajun Delights  New Orleans     USA
2           3           Grandma Kelly's Homestead    Ann Arbor     USA
3           4                       Tokyo Traders        Tokyo   Japan
4           5  Cooperativa de Quesos 'Las Cabras'       Oviedo   Spain

     Region
0      None
1        LA
2        MI
3      None
4  Asturias

<h3>Production_Product

In [ ]:
CREATE TABLE Production_Product (
    ProductID INT,
    Name VARCHAR(100),
    StandardCost DECIMAL(10,2),
    ProductCategoryID INT,
    QuantityPerUnit VARCHAR(50),
    DaysToManufacture INT,
    ProductLine VARCHAR(30),
    UnitPrice DECIMAL(10,2),
    UnitsInStock INT,
    UnitsOnOrder INT,
    SellStartDate DATE,
    SellEndDate DATE,
    DiscontiuedDate DATE,
    SupplierID INT,
    FOREIGN KEY (SupplierID) REFERENCES Suppliers(SupplierID),
    FOREIGN KEY (ProductCategoryID) REFERENCES Production_ProductCategory(ProductCategoryID),
    FOREIGN KEY (SupplierID) REFERENCES Purchasing_Vendor(BusinessEntityID)
);